<div class="row">
    <div class="col-3">
        <select class="form-select" [(ngModel)]="selectedOption">
            <option >Option 1</option>
            <option >Option 2</option>
            <option >Option 3</option>
            <option >other</option>
        </select>
    </div>
    <div class="col-3">
        @if (selectedOption === 'other') {
        <input type="text" class="form-control" placeholder="Enter other option" />
        }
    </div>

    <div class="row">
        <div class="col-4">
            {{isstudentActive() === true ? 'student is active' : 'student is inactive'}}
        </div>

        <div class="col-4">
            <button class="btn btn-primary" (click)="isstudentActive.set(true)">make active</button>
            <button class="btn btn-secondary" (click)="isstudentActive.set(false)">make inactive</button>
        </div>
    </div>

    <div class="row">
        <div class="col-5">
          <ul>
           @for (city of cityList; track $index){
            <li>{{city}}</li>
           }
          </ul>
        </div>

</div>

<div class="row">
    <div class="col-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>City</th>
                </tr>
            </thead>
            <tbody>
                @for (student of studentList; track $index){
                    <tr>
                        <td>{{student.name}}</td>
                        <td>{{student.age}}</td>
                        <td>{{student.city}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
